@import 'reuse';

#overlay {
  position: relative;
  z-index: 2;
  grid-column: 1/4;
  grid-row: 1/10;
  background-color: rgba(0,0,0,.7);
}

#court {
  position: absolute;
  width: 40vw;
  height: 10vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#ball {
  background-color: $blurp;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;

  animation: backNforth 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes backNforth {
  from { transform: translateX(0vw);     }
  to   { transform: translateX(30vw); }
}
